# Configuration file

~CONFIG_VERSION: rv3-beta-695-GTNH

counters {
    I:lastGridStorage=11
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
}


players {
    I:de69a73d-171c-4fbd-bc65-f72991f08ed5=0
}


